@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Section 2 - Lecture 10: Animation for button move */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* Root font size */
html {
  font-size: 62.5%; }

body {
  color: #777;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  padding: 3rem;
  /* Force inherit box-sizing to all elements */
  box-sizing: border-box; }

.heading-primary {
  color: #eee;
  text-transform: uppercase;
  /* To remove the upwards shaky movement of the heading primary main and sub */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* Shorthand used here */
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.1); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #777;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row:after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left;
    color: #777;
    font-size: 1rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem)/3); }
  .row .col-2-of-3 {
    width: calc((2 * ((100% - 2 * 2rem)/3)) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem)/4); }
  .row .col-2-of-4 {
    width: calc( 2* ((100% - 3 * 2rem)/4) + 2rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 2rem)/4) + 2 * 2rem); }

/* Pseudo classes. Using the state of the selector */
/* E.g. visited, link, active, hover */
.btn {
  /* Section 2 Lecture 10 Lesson - Pseudo elements */
  /* In this lesson, a larger version of the button will appear behind the original */
  /* button using hover. &::after will be used */
  /* Add the transform rule to scale when &:hover::after is applied */
  /* Apply button animation to a new class to make effect exclusive to animated buttons only */
  /* Note animation formula: animation name, animation duration, animation timing function and animation-delay; */ }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    /* Rule for all transtions to be on the main link */
    transition: all .2s;
    position: relative;
    font-size: 1.6rem; }
  .btn:hover {
    transform: translateY(-0.3rem);
    /* ADD Shadow when hovered */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    transform: translateY(-0.1rem);
    /* ADD Shadow when clicked */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #eee;
    color: #777; }
    .btn--white::after {
      background-color: #eee; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .btn--animated {
    animation: moveInBottom 0.5s ease-out .75s;
    /* Apply 0% animation effect to the button using animation fill mode */
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 5px;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #7ed56f;
  color: #eee;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /* Top and left relate to the parent element, hence the position of the parent 
    being relative */
    top: 40%;
    left: 50%;
    /* Transform relates to the size of the element being positioned */
    transform: translate(-50%, -50%);
    /* Since there is an element displayed as an inline-block inside this parent div, it can be treated as text  */
    /* hence the rule below can be applied */
    text-align: center; }
