@mixin textTransform {
  text-transform: uppercase;
  text-decoration: none;
}

@mixin clearfix {
  &:after {
    content:"";
    clear:both;
    display:table;
  }
}


@mixin boxShadow {
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
}
