// Add items here that don't render CSS

// Colors Used
$color-primary: #7ed56f; 
$color-primary-light:#55c57a;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #eee;
$color-black: #000;