.bg-video {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  opacity: .15;
  z-index:-1;
  overflow: hidden;

  &__content{
    height: 100%;
    width: 100%;

    // New rule object-fit
    object-fit: cover;
  }
}