.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port){
    padding: 20rem 0;
  }
}

.section-features{
  padding: 20rem 0;
  min-height: 95vh;
  margin-top:-10rem;
  background-image:linear-gradient(
    to right bottom, 
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark,0.8)),  
    url('../img/nat-4-small.jpg');
    background-size: cover;
    transform: skewY(-3deg);
    
    & > * {
      transform: skewY(3deg);
    }

    @include respond(tab-port){
      padding: 10rem 0;
      background-image:linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark,0.8)),  
        url('../img/nat-4-small.jpg');
        background-size: cover;
        transform: skewY(-7deg);
        
        & > * {
          transform: skewY(7deg);
        }
    }
    @media only screen and (min-resolution: 192dpi) and (min-width:37.5em),
    only screen and (-webkit-min-device-pixel-ratio:2) and (min-width:37.5em),
    only screen and (min-width: 125em){
      background-image:linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark,0.8)),  
        url('../img/nat-4.jpg');
    }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -11rem;

  transition: all 5s ease-in;

  @include respond(tab-port){
    margin-top: 0 !important;
    padding: 10rem 0 10rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  position:relative;

  @include respond(tab-port){
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom, 
    $color-primary-light, 
    $color-primary-dark);


  @include respond(tab-port){
    padding: 10rem 0;
  }
}

.book {
  // Note 50.1% fix on jagged edge of the gradient
  background-image: linear-gradient(105deg,
                                    rgba($color-white, 0.9) 0%,
                                    rgba($color-white, 0.9) 50%,  
                                    transparent 50.1%), 
                                    url(../img/nat-10-small.jpg);
  background-size: cover;
  border-radius: $default-border-radius;

  @include boxShadow;

  @include respond(tab-land){
    background-image: linear-gradient(105deg,
    rgba($color-white, 0.9) 0%,
    rgba($color-white, 0.9) 65%,  
    transparent 65.3%), 
    url(../img/nat-10.jpg);   
  }

  @include respond(tab-port){
    background-image: linear-gradient(
    rgba($color-white, 0.9) 0%,
    rgba($color-white, 0.9) 100%), 
    url(../img/nat-10-small.jpg);   
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land){
      width: 65%;
    }
  
    @include respond(tab-port){
      width: 100%;
      padding: 3rem;
    }

  }
}